@import "./root.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 100%;
}

.orientation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: auto;
  padding: 1rem;
  z-index: 999;
}

@media screen and (orientation: landscape) {
  .orientation {
    display: none;
  }
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.clock {
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 30vh;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.clock-setup {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 10vh;
}

.left-clock {
  writing-mode: vertical-lr;
}

.right-clock {
  transform: scale(-1);
  writing-mode: vertical-rl;
}

.place-self-center {
  place-self: center;
}

.text-align-center {
  text-align: center;
}

input {
  display: inline;
  width: 33%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
}

.minutes {
  text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}